body {
  
}

.fcc-btn {
 border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:#32CD32;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family:Verdana, Geneva, sans-serif;
}

.fcc-btn:hover {
  background-color: #48D1CC;
}



Resource